<div class="col s12 m6">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">
        <h4 id="name"></h4>
      </span>
      <span class="card-title">Manager</span>
      <i class="material-icons">free_breakfast</i>
    </div>
    <div class="collection">
      <p href="#!" id="id" class="collection-item">ID:</p>
      <p href="#!" id="email" class="collection-item">Email:</p>
      <p href="#!" id="officeNumber" class="collection-item">Office Number:</p>
    </div>
  </div>
</div>